/* styles.css */

/* Estilo para el formulario */
.formularioBox {
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
    padding-right: 40px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
/*Estilo para el titulo*/
.tituloH2{
    text-align: center;
}
/* Estilo para los campos de entrada y etiquetas */
.formularioBox input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formularioBox label {
    display: block;
    font-weight: bold;
}

/* Estilo para los mensajes de error */
.error-message {
    color: red;
    font-size: 12px;
}
/*Estilo para el div del boton*/
.divBoton{
    text-align: center;
    
}


/* Estilo para el botón */
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div_pagare{
    align-items: center;
    display: flex;
    background-color: blue;
}
.formularioBox .pagare{
    background-color: green;
}
.select-provincia {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}