/* styles.css */
body{
    background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
}
/* Estilo para el formulario */
.formularioBox {
    max-width: 50vw;
    background: #24303c;
    padding: 30px;
    padding-right: 40px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;    
}

/*Estilo para el titulo*/
.tituloH2{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
/* Estilo para los campos de entrada y etiquetas */
.formularioBox input[type="text"] {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.formularioBox label {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

/* Estilo para los mensajes de error */
.error-message {
    color: red;
    font-size: 12px;
}
/*Estilo para el div del boton*/
.divBoton{
    text-align: center;
    
}


/* Estilo para el botón */
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div_pagare{
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.formularioBox .pagare{
    background-color: green;
}

.select-provincia {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}